.app-container {
  display: flex;
  height: 100vh;
  background-color: #121212;
  color: #fff;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.main-content h1 {
  margin-bottom: 20px;
}

.tasks-container {
  display: flex;
  justify-content: space-between;
}
